.navbar {    
    background: #181142;
    border: 1px solid #000000;
    box-shadow: 1px 1px 5px 5px #5D5E5D;
    border-radius: 0px 0px 15px 15px;    
}

.navbar>h1{    
    font-size: 70px;
    line-height: 88px;
    color: rgba(106, 85, 235, 0.95);
    text-align: center;
    /* display: flex;  */    
}
.navbar>ul{
    display: flex;
    justify-content: center;    
    padding: 10px;
    list-style: none;
}
.navbar>ul>li{
    padding: 15px;

}